<%= provide(:title, 'Resend Confirmation') %>
<h2 class="center">Resend Confirmation Instructions</h2>
<br>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		<% devise_error_messages! %>

		<%= f.label :email %>
		<%= f.email_field :email %>
		<br>
		<%= f.submit "Resend", class: 'btn btn-primary btn-medium' %>
	<% end %>
	
	<%= render "devise/shared/links" %>
</div>


