<% provide(:title, "Edit Account") %>
<h1 class="center">Edit Account</h1>
<br>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  	<% devise_error_messages! %>

		<%= f.label :name %>
		<%= f.text_field :name %>
		<br>
		<%= f.label :email %>
		<%= f.email_field :email %>
		<br>
		<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
		<%= f.password_field :password, :autocomplete => "off" %>
		<br>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		<br>
		<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password %>

		<% if current_user.paid? %>
    		<br>
    		<%= f.file_field :resume %>
    	<% end %>
        <br>
		<%= f.submit "Update", class: "btn btn-medium btn-primary" %>
	<% end %>
	<br>
	<h2 class="center">Cancel my account</h2>

	<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

	<%= link_to "Back", :back %>
</div>



