<% provide(:title, "Sign Up") %>
<h1 class="center">Sign Up</h1>
<br>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<% devise_error_messages! %>

		<%= f.label :name %>
		<%= f.text_field :name %>
		<br>
		<%= f.label :email %>
		<%= f.email_field :email %>
		<br>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<br>
	 	<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		<br>
		<%= f.submit "Sign up", class: 'btn btn-medium btn-primary' %>
	<% end %>

<%= render "devise/shared/links" %>
</div>
