<h1>Hey intrnhuntrs!</h1><p>I've just uploaded a new resume. Can you guys critique it for me? Your help would be greatly appreciated.</p><p>Here is the <%= link_to 'resume', @user.resume.url(download: true) %></p><br><p>Thanks,</p><p><%= @user.name %></p>