<%= form_for(current_user.relationships.build(favorited_id: company.id), remote: true) do |f| %>
  <div><%= f.hidden_field :favorited_id %></div>
  <%= image_submit_tag("star_yellow.png", class: "favorite") %>
<% end %>
