<% provide(:title, "Favorites") %>
<h1 class="center">Favorites</h1>
<div class="row center">
    <% if !@favorites.empty? %>
      <table class="table">
        <% @favorites.each do |f| %>
          <tr id="item">
            <td><%= link_to f.name, f %></td>
            <td><%= f.area %></td>
            <td><%= number_to_currency(f.salary, precision: 0) %></td>
            <td><%= render 'favorite_form', company: f %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <% flash.now[:notice] = "You don't have any favorites" %>
    <% end %>
    <br>
    <% if current_user.paid? %>
        <% if current_user.resume_file_size != nil %>
          <p>View your <%= link_to 'resume', current_user.resume.url(download: true) %></p>
        <% else %>
          <p>You don't have an uploaded resume. This can be done from your <%= link_to 'settings', edit_user_registration_path %></p>
        <% end %>
    <% else %>
        <div class="mini"><%= ilink_to 'lightbulb', 'Click Here To Get Resume Critique & Tips For Only $5', new_order_path, class: 'btn btn-primary btn-block' %></div>
    <% end %>
</div>
