<% provide(:title, "Change Password") %>
<h2 class="center">Change your password</h2>
<br>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  	<% devise_error_messages! %>
  	<%= f.hidden_field :reset_password_token %>
		<br>
  	<%= f.label :password, "New password" %>
  	<%= f.password_field :password %>
		<br>
  	<%= f.label :password_confirmation, "Confirm new password" %>
  	<%= f.password_field :password_confirmation %>
		<br>
  	<%= f.submit "Update", class: 'btn btn-medium btn-primary' %>
	<% end %>

	<%= render "devise/shared/links" %>
</div>



