<%= provide(:title, 'Password Reset') %>
<h2 class="center">Forgot your password?</h1>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<% devise_error_messages! %>
		<%= f.label :email %>
		<%= f.email_field :email %>
		<br>
		<%= f.submit "Send", class: 'btn btn-medium btn-primary' %>
	<% end %>

	<%= render "devise/shared/links" %>	
</div>

