<% provide :title, "New Order" %>
<h1 class="center">Buy Access To Resume Critique</h1>
<h2 class="center" id="price"> For Only $5</h2>
<div class="row center">
    <%= form_for @order do |f| %>
      <% order_error_messages! @order %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :card_brand, "Card Type" %>
      <%= f.select :card_brand, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>

      <%= f.label :card_number %>
      <%= f.text_field :card_number %>

      <%= f.label :card_verification, "Card Verification Value (CVV)" %>
      <%= f.text_field :card_verification %>

      <%= f.label :card_expires_on %>
      <%= f.date_select :card_expires_on, discard_day: true, add_month_numbers: true, start_year: Date.today.year, end_year: (Date.today.year+10), order: [:month, :year] %>
      <br>
      <%= f.submit 'Submit Order', class: 'button btn-medium btn-primary' %>
    <% end %>
    <br>
    <%= link_to "Back", :back %>
</div>