<div class="row center">
  <div>
      <%= form_for @user, :as => :user, :url => edit_user_registration_path, html: { method: :put, multipart: true } do |f| %>
        <%= f.label "Resume" %>
        <%= f.file_field :resume %>
        <br>
        <%= f.submit 'Upload Resume' %>
      <% end %>
  </div>
</div>
