<div class="hero-unit">
  <h1>Welcome to intrnhuntr</h1>
  <h2>People dream of success. We help make it happen</h2>
</div>
<div class="row">
  <div class="span6">
    <h2>Services</h2>
      <p>
        Do you have an idea of where you want your career to start? Well, we can help you get there. We can provide you with the information you need to find and lock in the internship you want.
      </p>
      <p><%= link_to 'More Info', '#', class: "btn" %></p>
  </div>
  <div class="span6">
    <h2>How</h2>
      <p>
      We have worked with a variety of businesses, varying from non-profit to corporate to retail, in order to compile a list of opportunities. And we are ready to show you the opportunities and offer necessary information to grasp them.
      </p>
      <p><%= link_to 'More Info', '#', class: "btn" %></p>
  </div>
</div>

