<% provide(:title, "Companies") %>
<h1>Internships</h1>
<div class="row pull-right">
<%= form_for @search, :html => {:class => "form-inline"} do |f| %>
	<%= f.label "Name/Field" %>
  <%= f.text_field :name_or_area_contains %>
  <%= f.submit 'Search', class: 'btn btn-inverse' %>
<% end %>
</div><!-- end of search well -->
<div class="row">
<%= will_paginate %>
<table class="table table-striped" align="center">
  <tr>
    <th><%= sort_link @search, :name %></th>
    <th><%= sort_link @search, :area %></th>
    <th><%= sort_link @search, :salary %></th>
  </tr>
  <% if user_signed_in? %>
    <%= render @companies %>
  <% else %>
    <% @companies.each do |c| %>
      <tr>
      	<% if c.id < 5 %>
        	<td><%= link_to c.name, c %></td>
        <% else %>
        	<td><%= c.name %></td>
        <% end %>  
       	<td><%= c.area %></td>       
        <td><%= number_to_currency(c.salary, precision: 0) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate %>
</div>

<br>
<% if !user_signed_in? %>
  <p class="center"><%= link_to 'Sign up here!', new_user_registration_path, class: "btn btn-primary btn-large" %></p>
<% end -%>

