<% provide(:title, @company.name) %>
<h1 class="center"><%= @company.name %></h1>
<br>
<div class="hero-unit center">
  <p><%= @company.about %></p>
  <%= render 'favorite_form' if signed_in? %>
</div>
<br>
<div class="row-fluid">

  <div class="hero-unit pull-left span6">
    <h2 class="right">Positions</h2>
    <ul>
      <% @positions.each do |p| %>
      <li><p><%= p.position %></p></li>
      <% end %>
    </ul>
  </div>

  <div class="hero-unit pull-right span6">
    <h2 class="right">Responsibilities</h2> 
      <ul>
        <% @rspnbties.each do |r| %>
        <li><p><%= r.responsibility %></p></li>
        <% end %>
      </ul>
  </div>

</div>

<div class="row-fluid">

  <div class="hero-unit pull-left span6">
    <h2 class="right">Interview Questions</h2> 
      <ul>
        <% @questions.each do |q| %>
        <li><p><%= q.question %></p></li>
        <% end %>
      </ul>
  </div>

  <div class="hero-unit pull-right span6">
    <h2 class="right">Requirements</h2> 
    <ul>
      <% @requirements.each do |r| %>
      <li><p><%= r.requirement %></p></li>
      <% end %>
    </ul>
  </div>

</div>

