<% provide(:title, 'Login') %>
<h1 class="center">Login</h1>
<br>
<div class="row center">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div class="field"><%= f.label :email %>
		<%= f.text_field :email %></div>

		<div class="field"><%= f.label :password %>
		<%= f.password_field :password %></div>

		<% if devise_mapping.rememberable? %>
		  <div class="field"><%= f.check_box :remember_me, class: 'remember_me' %> <%= f.label :remember_me %></div>
		<% end %>

		<div class="field"><%= f.submit "Login", class: 'btn btn-medium btn-primary' %></div>
	<% end %>
	
	<%= render "devise/shared/links" %>
</div>



