/* Body and structure
-------------------------------------------------- */
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: horizontal vertical;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* typography
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  /*text-align: center;*/
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: right;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header
-------------------------------------------------- */
.navbar-fixed-top .brand {
	font-weight: bold;
	font-size: 1.7em;
}

/*.nav-search { */  /* not using a nav-search at the moment */
/*  padding: 4px 25px 0px 0px;*/
/*  height: 25px;*/
/*}*/

.taller li a { /* make sure links fit into navbar */
	height: 20px;
}

/* Footer
-------------------------------------------------- */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous
------------------------------- */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms
------------------------------- */
/*input, textarea, select, .uneditable-input {*/
/*  border: 1px solid #bbb;*/
/*  padding: 10px;*/
/*  height: auto;*/
/*  margin-bottom: 15px;*/
/*}*/

/*.styled-select select, option {*/
/*  background: #222;*/
/*  color: #ADAFAE;*/
/*  width: 200px;*/
/*  padding: 0px;*/
/*  border: 1px solid #ccc;*/
/*  height: 27px;*/
/*  overflow: hidden;*/
/*}*/

.field {
	padding: 2px;
	padding-bottom: 5px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.remember_me {
	position: relative;
	right: 60px;
	top: 17px;
}

.notepad textarea {
	resize: none;
	width: 515px;
	height: 340px;
	align: center;
}

/* Users#show
-------------------------------------------------- */
.favorite {
  border: none;
  height: 32px;
  width: 32px;
}

.mini {
    width: 200px;
    align: center;
    margin: 0px auto;
}

/* Orders#new
-------------------------------------------------- */
#price {
    color: red;
}
