<p>Hey <%= @resource.name %>!</p>

<p>Thanks for signing up at <strong>intrnhuntr.com</strong>. We're glad you have found interest in our site and we look forward to helping you in your search.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Happy Hunting!,</p>
<p>The intrnhuntrs</p>  
