<div class="container">
  <div class="row">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> fade in">
          <a class="close" data-dismiss="alert"><i class="icon-remove icon-white"></i></a>
          <%= value %>
        </div>
      <% end %>
			<%= render 'layouts/notepad' %> <!-- modal for notepad -->
      <%= yield %>
      <%= render 'layouts/footer' %>
  </div>
</div>
