<footer class="footer">
  <small>
    <%= link_to "intrnhuntr", root_path %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
