<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "intrnhuntr", root_path, class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right taller">
          <li id="home"><%= link_to "Home",    root_path %></li>
          <li id="services"><%= link_to "Services",    services_path %></li>
          <li id="internships"><%= link_to "Internships", companies_path %></li>
          <% if user_signed_in? %>
          	<li id="noteButton">
          	  <%= ilink_to 'pencil', 'Notes', '#notepad', id: 'show_notes' %>
          	</li>
            <li>
            	<%= ilink_to 'user', '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
            		<%= current_user.name %>
            		<b class="caret"></b>
            	<% end %>
              <ul class="dropdown-menu">
                <!--  <li><  % = link_to "Profile", profile_path %></li> -->
                <li><%= link_to 'Favorites', favorites_path  %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
