<div id="my_modal" class="modal hide fade" role="dialog">
	<div class="modal-header">
		<% ilink_to 'remove', '', '#', id: 'close_modal' %>
	  <h3>Notes</h3>
	</div>
	<div class="modal-body notepad">
		<% if user_signed_in? %>
			<%= form_for @notepad, remote: true do |f| %>
					<%= f.text_area :content, placeholder: "Notepad" %>
	</div>
	<div class="modal-footer">
		<%= ilink_to 'remove', 'Cancel', '#', class: 'btn btn-danger pull-left', id: 'close_modal' %>
		<%= f.submit "Save", class: "btn btn-medium btn-success pull-right", id: 'save' %>
			<% end %> <!-- end form -->
		<% end %> <!-- end if -->
	</div>
</div>
